@model Sys_Meeting.Models.MeetMaintenanceModels

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="shortcut icon" href="../../Content/favicon.ico" type="image/x-icon" />
    <link href="../../Content/jquery-plugin/themes/metro/easyui.css" rel="stylesheet"
        type="text/css" />
    <link href="../../Content/jquery-plugin/themes/icon.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/jquery-plugin/demo/demo.css" rel="stylesheet" type="text/css" />


    <script type="text/javascript" src="~/Scripts/jquery-1.7.1.min.js"></script>
  
    <script src="../../Content/jquery-plugin/jquery.easyui.min.js" type="text/javascript"></script>
    <script src="../../Content/jquery-plugin/locale/easyui-lang-zh_TW.js" type="text/javascript"></script>
    <script src="../../Content/jquery-plugin/category.js" type="text/javascript"></script>
    <script src="../../Content/js/CommonAction.js" type="text/javascript"></script>
    <script src="../../Content/js/HttpAction.js" type="text/javascript"></script>
</head>
    <body>
        
        <br/>
        @*>--操作搜索*@
        <div id="meetlistcontent">
            <select id="cc" style="width: 150px;"></select>
            <input class="easyui-textbox" data-options="prompt:'關鍵字...'," style="width: 450px; height: 24px;">
            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-search" id="btnQuery">搜索</a>
            <div id="sp">
                <div style="color: #99BBE8; background: #fafafa; padding: 5px;">請選擇查詢條件：</div>
                <div style="padding: 10px">
                    <input type="radio" name="lang" value="01" /><span>會議編號</span><br/>
                </div>
            </div>
                
            <br/>
            <hr/>
            <input type="button" value="新增" id="btnCreate"/>
            <input type="button" value="修改" id="btnEdit"/>
            <input type="button" value="刪除" id="btnDelete"/>
            
        </div>
        @*操作搜索--<*@
        
        @*-->表格*@
        <div style="border: 0px solid red;width: 100%;height: 500px;">
            <table id="dg" title="會議列表" style="width: 100%"></table>
        </div>
        @*表格--<*@
        
        @*>--新增會議界面*@
        <div id="add-list-proc" title="新增事項" style="display: none" >
            <table style="width: 100%;padding-left: 7px;">
                <tr>
                    <td width="7%">會議編號：*</td>
                    <td width="20%"><input type="text" value="" id="txtId" data-valid="會議編號"/>
                    </td>
                    <td width="6%">會議日期：*</td>
                    <td width="67%"><input id="txtDte" class="easyui-datebox" style="width: 100px"></input></td>
                </tr>
                <tr>
                    <td>會議時間：*</td>
                    <td><input type="text" value="" id="txtTime" data-valid="會議時間"/></td>
                    <td>會議地點：*</td>
                    <td><input type="text" value="" id="txtAddr" data-valid="會議地點"/></td>

                </tr>
                <tr>
                    <td>主席：*</td>
                    <td colspan="3"><input readonly="true" type="text" value="" id="txtMaster" style="width: 60%" data-valid="主席"/><a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" onclick="OpenSearch('txtMaster','account')"></a>

                        <input type="hidden" value="" id="txtMaster_f" style="width: 60%" data-valid="主席" readonly="true"/>    
                    </td>
                    
                </tr>
                <tr>
                    <td>出席：*</td>
                    <td colspan="3"><input readonly="true" type="text" value="" id="txtJoins" style="width: 60%" data-valid="出席"/><a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" onclick="OpenSearch('txtJoins','account')"></a>
                        <input type="hidden" value="" id="txtJoins_f" style="width: 60%" data-valid="出席"/>
                    </td>
                </tr>
                <tr>
                    <td>缺席人員：</td>
                    <td colspan="3"><input readonly="true" type="text" value="" id="txtUnJoins" style="width: 60%" /><a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" onclick="OpenSearch('txtUnJoins','account')"></a>
                        <input type="hidden" value="" id="txtUnJoins_f" style="width: 60%" />
                    </td>

                </tr>
                <tr>
                    <td>會議名稱：*</td>
                    <td colspan="3"><input type="text" value="" id="txtName" style="width: 60%" data-valid="會議名稱"/></td>
                </tr>
                <tr>
                    <td>共享指定人：</td>
                    <td>
                        <input id="chkShare" type="checkbox" /><input id="txtShareList" type="text" readonly="true"/>
                        <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" onclick="OpenSearch('txtShareList','account')"></a>
                        <input id="txtShareList_f" type="hidden" readonly="true"/>
                    </td>
                </tr>
            </table>
            
            <input type="hidden" value="" id="txtAction"/>
            <input type="hidden" value="" id="txtSysId"/>
            <hr/>
            <div id ="mtMenu" style="padding-left: 7px;">
                會議事項：<input id="txtMtListId" type="text" value="" readonly="true"/><input id="txtMtListId_f" type="hidden" value=""/>
                <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-search" id="btnQueryList" onclick="OpenSearch('txtMtListId','list')">選擇</a>
                <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" id="btnAddPanels">添加</a>
                <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" id="btnRemovePanel" onclick="removePanel()">刪除</a>
                @*<a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" id="btnExists" onclick="ListExists()">檢查</a>
                <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" id="btnGetGuid" onclick="GetGuid()">GetGUID</a>
                <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" id="btnGetValues" onclick="GetValues()">GetValues</a>
                <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" id="btnGetValues" onclick="GetValuesDetail()">GetValuesDetail</a>*@
            </div>
            <br/>

            @*>--多面板展開*@
            @*<div id="listPanels" style="border: 1px solid red" >*@
            @*會議內容：<textarea cols="100" rows="5" id="txtListTitle"></textarea>*@
            @*<a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" id="btnAddPanels" onclick="addPanels()">添加</a>*@
            @*<a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" id="btnRemovePanel" onclick="removePanel()">刪除</a>*@
            @*<a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" id="btnSelectPanel" onclick="selectPanel()" style="margin-bottom: 20px;">選擇</a>*@
            @*</div>*@
            
            
            <div id="meetlistpanels" class="easyui-accordion" @*data-options="multiple:true"*@>
                @*<div title="事項1" data-options="iconCls:'icon-ok'" style="overflow:auto;padding:1px;">*@
                @*<p>事項內容</p>
                    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" id="btnAddPanels2" onclick="addPanels()" style="margin-bottom: 20px;">添加</a>
                    *@
                @*<textarea cols="100" rows="4" id="txtMtContent1"></textarea>
                </div>*@
                
                @*-->可異步加載*@
                @*<div title="事項2" style="padding:10px;" data-options="href:'/meet/list/'">
                    <p>事項內容</p>
                </div>
                *@
                @*可異步加載--<*@

            </div>
            @*多面板展開--<*@

        </div>
        @*新增會議界面--<*@
        
        <div id="acc-search-form"></div>
        
        <script type="text/javascript">
            /*<script type="text/javascript">*/
            var mode = '';
            var panelIdx = 1;
            var curOpenSearchName = '';
            var URLGUID = '/meetmaintenance/getguid';
            //>--搜索模塊****************************************************************//
            //****************************************************************

            //從返回的表格行數中設置文本的值
            //rows:表格行數數組
            function SetDGSelections(rows,t) {
                var f1='', f2='';
                
                if (t == 'list') {
                    f1=rows.ListName;
                    f2=rows.ListSysId;
                }
                else if (t == 'account') {
                    f1 = rows.FulName;
                    f2 = rows.UserId;
                }

                $(curOpenSearchName).val(f1);
                $(curOpenSearchName + '_f').val(f2);

                CloseDialog('#acc-search-form');
            }

            //返回值為表格的選擇行，數組類型
            function OpenSearchDailog(o,div,d,url,t,fn) {
                curOpenSearchName = '#'+o;
                $(div).show().dialog({
                    modal: true,
                    width: 500,
                    height: 400,
                    title: t,//'會議內容',
                    href:url,// '/account/search/',
                    cache: false,
                    collapsible: false,
                    minimizable: false,
                    maximized: false,
                    resizable: true,
                    toolbar: [
                        {
                            text: '選擇',
                            iconCls: 'icon-ok',
                            handler: function() {
                                fn(d,o);
                            }
                        }, '-', {
                            text: '關閉',
                            iconCls: 'icon-no',
                            handler: function() {
                                CloseDialog(div);                      
                            }
                        }
                    ]
                });
            }

            

            //o:返回的值寫在哪個控件
            //t:查詢的類型
            function OpenSearch(o,t) {
                var url='',title='';
                if (t == 'list') {
                    url = '/list/index';
                    title = '事項列表';
                }
                else if (t == 'account') {
                    url = '/account/search';
                    title = '用戶查詢';
                }
                
                OpenSearchDailog(o, '#acc-search-form', '#dgSearch', url,title, function(d,c) {
                    var rows = $(d).datagrid('getSelections');
                    var id = [], name = [];
                    for (var i = 0; i < rows.length; i++) {
                        var row = rows[i];
                        id.push(row[PushFieldValue(t,'id')]);
                        name.push(row[PushFieldValue(t,'name')]);
                    }

                    $('#'+c).val(name.join(','));
                    $('#'+c+'_f').val(id.join(','));

                    CloseDialog('#acc-search-form');

                });
            }

            //****************************************************************
            //****************************************************************搜索模塊--<//

            

            //創建會議
            $('#btnCreate').click(function () {
                mode = 'create';
                ClearValue('#add-list-proc input');

                $("#txtId").removeAttr("disabled");
                $('#txtAction').val(mode);
                
                GetRequest(URLGUID, '', function(ret) {
                    if (ret.result != '1') {
                        $.messager.alert('提示', '系統異常，不能添加新記錄!', 'info');
                        return false;
                    } else {
                        $('#txtSysId').val(ret.sysid);
                    }
                });

                var d = '#add-list-proc';
                var u = '/meetmaintenance/action';
                openDailog(d, u, function() {
                    ClearValue('#add-list-proc input');
                    $('#dg').datagrid('reload');
                    $('#add-list-proc').dialog('close');
                    removeAllPanel('#meetlistpanels');
                });
            });

            //修改
            $('#btnEdit').click(function() {
                var row = $('#dg').datagrid('getSelected');
                if (!row) {
                    $.messager.alert('提示', '請先選擇要修改的記錄', 'info');
                    return false;
                }
                $("#txtId").attr("disabled", "disabled");
                Edit('#dg');
                mode = 'edit';
                $('#txtAction').val(mode);

                var d = '#add-list-proc';
                var u = '/meetmaintenance/edit/';
                openDailog(d, u, function() {
                    ClearValue('#add-list-proc input');
                    $('#dg').datagrid('reload');
                    $('#add-list-proc').dialog('close');
                    removeAllPanel('#meetlistpanels');
                });
                return true;
            });

            //刪除
            $('#btnDelete').click(function () {
                Delete('#dg', '/meetmaintenance/delete/');
            });

            //檢查
            function CheckIsSave() {
                var b = true;
                $('#add-list-proc input').each(function() {
                    var o = $(this).data('valid');
                    if (o) {
                        if ($.trim($(this).val()) == '') {
                            $.messager.alert('提示', o + '不能為空', 'info');
                            b = false;
                            return false;
                        }
                    }
                });
                return b;
//                return true;
            }


            function ContainerListContentModel(c,s,m) {
                var listItems= this;
                listItems.content = c;
                listItems.listsysid = s;
            }

            function ContainerModel() {
                var self = this;
                self.sysid = $('#txtSysId').val();
                self.id = $('#txtId').val();
                self.date=$('#txtDte').datebox('getValue');
                self.time = $('#txtTime').val();
                self.addr = $('#txtAddr').val();
                self.master = $('#txtMaster_f').val();
                self.joins = $('#txtJoins_f').val();
                self.unjoins = $('#txtUnJoins_f').val();
                self.name = $('#txtName').val();
                self.sharelist = $('#txtShareList_f').val();
                self.action = $('#txtAction').val();
                
                var listItems=[];
                var c = '', s = '';
                $('#meetlistpanels #listdetail textarea').each(function() {
                    c = $(this).val();
                    s = $(this).data('listsysid');
                    var items = new  ContainerListContentModel(c,s);

                    listItems.push(items);
                });

                self.listitems = listItems;
            }

            function ClearValue(o) {
                $(o).each(function () {
                    $(this).val('');
                });
            }

            function openDailog(d, u, fn) {
                $(d).show().dialog({
                    modal: true,
                    width: 500,
                    height: 400,
                    title: '會議內容',
                    cache: false,
                    collapsible: false,
                    minimizable: false,
                    maximized: true,
                    resizable: true,
                    toolbar: [
                        {
                            text: '保存',
                            iconCls: 'icon-ok',
                            handler: function() {
                                if (CheckIsSave()) {
                                    var o = new ContainerModel();
                                    SaveList(o, u, fn);
                                }
                            }
                        }, '-', {
                            text: '關閉',
                            iconCls: 'icon-no',
                            handler: function() {
                                fn();
                            }
                        }
                    ]
                });
            }

            
            @*-->
            o:ContainerModel
            u:URL
            d:Div
            dg:DataGrid重載數據使用
            fn:保存成功后回調函數
            *@
            //保存會議
            function SaveList(o, u, fn) {
                $.ajax({
                    url: u, //'/meetmaintenance/action',
                    dataType: 'json',
                    data: JSON.stringify(o),
                    contentType: 'application/json',
                    type: 'post',
                    success: function (data) {
                        if (data.result <= '0') {
                            $.messager.alert('提示', '保存失敗,消息:' + data.errmsg, 'info');
                        } else {
                            $.messager.alert('提示', '保存成功!', 'info', function () {
                                fn();
                            });
                        }
                    }
                });
            };

            function GetValues() {
                
                $('#meetlistpanels textarea').each(function() {
                    console.log($(this).val());
                    alert($(this).data('sysid'));
                } );
            }

            $('#btnAddPanels').click(function() {
                addPanels('#meetlistpanels', $('#txtMtListId').val(), '', $('#txtMtListId_f').val());
                $('#txtMtListId').val('');
                $('#txtMtListId_f').val('');
            });


            $(function () {
                initWndData();
                InitSearchCombox();
            });

            function initWndData() {
                
                //初始化表格數據
                $('#dg').datagrid({
                    url: '/meetmaintenance/getmeet',
                    method: 'get',
                    singleSelect: true,
                    fit: true,
                    pagination: true,
                    rownumbers: true,
                    pageSize: 10,
                    pageList: [5, 10, 15, 20],
                    remoteSort: false,
                    columns: [
                        [
                            { field: 'sysid', title: 'sysid', width: 1, hidden: true },
                            { field: 'id', title: '會議編號', width: '10%' },
                            { field: 'name', title: '會議名稱', width: '15%' },
                            { field: 'date', title: '會議日期', width: '30%' },
                            { field: 'time', title: '會議時間', width: '15%' },
                            { field: 'addr', title: '會議地點', width: '20%' }
                        ]
                    ]
                });
            };

        
        </script>

        <script src="../../Content/js/mtmaintenance_action.js" type="text/javascript"></script>
        @*<script src="../../Content/js/MeetMaintenance.js" type="text/javascript"></script>*@
        
    </body>
</html>
